[submodule "DeeDeeEngine/vendor/spdlog"]
	path = DeeDeeEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "DeeDeeEngine/vendor/GLFW"]
	path = DeeDeeEngine/vendor/GLFW
	url = https://github.com/TheCherno/glfw
[submodule "DeeDeeEngine/vendor/imgui"]
	path = DeeDeeEngine/vendor/imgui
	url = https://github.com/TheCherno/imgui.git
[submodule "DeeDeeEngine/vendor/glm"]
	path = DeeDeeEngine/vendor/glm
	url = https://github.com/g-truc/glm.git
